* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #373c56;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    /* overflow: hidden; */
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #b81568;
    display: block;
    border-radius: 5px;
}

#bar1 {
    transform: translateY(-4px);
    transition: 0.5s;
}

#bar2 {
    transition: 0.5s;
}

#bar3 {
    transform: translateY(4px);
    transition: 0.5s;
}

#menu.active #bar1 {
    transform: rotate(45deg);
}

#menu.active #bar2 {
    opacity: 0;
    transform: translateX(50px);
}

#menu.active .bar {
    background-color: white;
}

#menu.active #bar3 {
    transform: rotate(-45deg);
}

.nav li a {
    color: #fff;
    text-decoration: none;
    
}
.nav li a:hover {
    font-weight: bold;
}

.nav li {
    padding: 1rem 0;
}

.nav {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.active {
    display: block;
}

.menu-bg {
    z-index: -1;
    width: 0;
    height: 0;
    border-radius: 50%;
    margin: 30px 0 20px 20px;
    transform: translate(-60%, -30%);
    background: radial-gradient(circle, #e94498, #b81568);
    transition: 0.3s ease;
}

.active-bg {
    width: 550px;
    height: 540px;
}

.menu-bg, #menu-bar {
    top: 0;
    left: 0;
    position: absolute;
}